.team-container {
  border: 1px solid black;
  position: relative;
  max-width: 90vw;
  margin: 5rem auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.team-container .showmember-active {
  overflow: hidden;
}

.teammember-container {
  position: absolute;
  top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  /* border: 1px solid black; */
}

.member-btn {
  background: transparent;
  padding: 0.5rem 0.75rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s linear;
}

.member-btn:hover {
  transform: scale(1.03);
}
