.team-form {
  max-width: 30rem;
  margin: 1rem;
}

.team-form label,
.team-form input {
  display: block;
  width: 100%;
}

.team-form label {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.team-form input {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  width: 95%;
}

.team-action {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 0;
}

.btn-save {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  color: white;
  margin-left: 0.75rem;
  transition: all 0.2s linear;
}

.btn-save:hover {
  background: var(--secondary-color);
}

.btn-cancel {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: var(--primary-color);
  margin-left: 0.75rem;
  transition: all 0.2s linear;
}

.btn-cancel:hover {
  color: var(--secondary-color);
  background: #ccc;
}

.error-msg {
  color: red;
}
