.teamlist-container {
  max-width: 40rem;
  padding: 1rem;
  margin: 5rem auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #333;
}

.teamlist-ul {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.teamlist-li {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 2px solid #555;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.teamlist-modal {
  width: 30rem;
}

.newteam-btn {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  color: white;
  margin-left: 0.75rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
