.filter-status-container {
  width: 100%;
  margin: 0.5rem 0rem;
  /* border: 1px solid black; */
  text-align: end;
}

.filter-action {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border: 1px solid black; */
}

.filter-selector-label {
  display: block;
  font-size: 0.8rem;
  width: 100%;
}

.filter-status-selector {
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.2rem;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--primary-color);
  outline: none;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.filter-date-label {
  font-size: 0.8rem;
  margin: 0.25rem 0;
  margin-top: 0.5rem;
}

.filter-date-input {
  margin-left: 0.25rem;
}

.date-filter-btn {
  margin: 0.25rem 0.5rem;
  margin-right: 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 6px;
}

.error {
  font-size: 0.7rem;
  color: red;
  margin: 0;
}
