.task-form {
  max-width: 30rem;
  width: 95%;
  padding: 1rem;
}

.task-form label,
.task-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.task-form label {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.task-form input,
.task-form select,
.task-form textarea {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  width: 95%;
}

.task-action {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 0;
}

.btn-save {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  color: white;
  margin-left: 0.75rem;
}

.btn-cancel {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  color: var(--primary-color);
  margin-left: 0.75rem;
}

.error-msg {
  color: red;
}
