.task-container {
  max-width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newtask-btn {
  font-size: 1.3rem;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  color: white;
  margin-left: 0.75rem;
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); */
  transition: all 0.2s linear;
}

.newtask-btn:hover {
  background: white;
  color: var(--primary-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.task-modal {
  max-width: 30rem;
  width: 90%;
}

.tasklist-ul {
  max-width: 100%;
  width: 100%;
}
