.login-form {
  max-width: 30rem;
  width: 90%;
  margin: 8rem auto;
}

.login-form label,
.login-form input {
  display: block;
  width: 100%;
}

.login-form label {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.login-form input {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  width: 95%;
}

.login-action {
  display: flex;
  justify-content: flex-end;
}

.login-action button {
  font-size: 1.3rem;
  background: transparent;
  cursor: pointer;
}

.error-msg {
  color: red;
}
